.cms
    .hero
    .article-wrapper
        .level
            .container
                h1 Establishing a Business Tool Suite
                p
                    | In 2018, Booking.com, one of the largest travel e-commerce company unprecedentedly expanded its investment in China. In order to adapt to this unique and ever-evolving market, China team quickly strategized 
                    span.highlight rich marketing and operation plans
                    |  for the purpose of 
                    span.highlight customer acquisition and retention
                    | . 
        .level#section1
            .container
                h2 BIG PICTURE
                .sep
                h3 Background
                p In the beginning, quick solutions including marketing landings, operation campaigns, SMS and push notifications were created to address immediate business needs, aiming for more traffic as well as more engagement.
                h3 General Problems
                p However, after piloting a few marketing and operation programs, results were less than satisfactory. Three critical issues were discovered from the product and design side.
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span 
                                b No infrastructure
                                |—there were neither standardized workflow nor tools to enable that; few services, features or design elements were reusable.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span 
                                b Extremely low productivity
                                |—technical dependencies were complicated, communication cost was high and human resources were lacked.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                b Misalignment between products and business operations in terms of design
                                |—few designers were involved, and those early programs did not carry the same personality as our apps and sites.
                h3 High-level Solution—a Business Tool Suite
                p
                    | As the product designer on the team, I suggested we build 
                    span.highlight a platform incorporating a matrix of tools
                    | , with each of them catering to one major need from the business. 
                p
                    | Similar to the system of differentiation as defined in 
                    span.highlight Gartner's pace-layered application strategy
                    | , this tool suite, on the one hand, communicates with core algorithms and databases, on the other hand, provides various APIs so that it is adaptive and agile enough to support different service calls and frequent front-end changes.
        .level.level--humming-bird
            .container
                img(data-src="https://i.imgur.com/SSsh51f.png").lazyload
        .level
            .container
                p Objectives of the tool suite were:
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Facilitate an effective and sustainable workflow across teams; provide reusable services, features or design elements
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Decouple dependencies, reduce communication cost and free up human resources
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Set up design direction and generate pattern library to align business with products
                p
                    | I will choose 
                    span.highlight one representative tool
                    |  that best showcases what the problems were and how we solved them.
        .level#section2
            .container
                h2 CMS - CAMPAIGN PAGE
                .sep.taller
                h3 Problem
                p
                    | Campaign pages are extremely common in Chinese e-commerce platforms. One of their distinguishing characteristics is that they are 
                    span.highlight content-focused
                    | . Content, though taking various forms, is usually created, grouped and organized based on business impact or customer interest. Some examples are listed.
        .level.level--oyster-pink
            .container
                img(data-src="https://i.imgur.com/Um60m7d.png").lazyload
        .level
            .container
                p
                    | By working closely with the operation team, we understood our 
                    span.highlight internal needs
                    |  were:
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Can rapidly create, group and organize unique content for each campaign
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Can flexibly change and deploy content as needed
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Can follow guidance to ensure design quality
                p
                    | On the other hand, our 
                    span.highlight customer needs
                    |  were:
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Can browse and navigate through content easily
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Can understand the theme that content reflects
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Can build up interest by viewing properties, incentives or travel-related articles
                p
                    | Thus, our goals can be inferred—
                    span.highlight to achieve self-service campaign creation, implementation and modification
                    | , and 
                    span.highlight to strike balance between weight, quality and entropy of content in the meantime
                    | .
                p
                    | This yields a 
                    span.highlight Content Management System
                    | .
                h3 1. Structure and Hierarchy
                p
                    | The first step I took was understanding the structure and hierarchy of content. I wanted to 
                    span.highlight identify and extract patterns that can be generalized
                    |  into tools and processes.
                p
                    | Since our main approach is listing featured properties, incentives, or articles, I categorized all campaigns into two: 
                    span.highlight commodity-focused
                    |  and 
                    span.highlight inspiration-focused
                    | . The former exploits business opportunity, incentivizing customers to book immediately while the latter is seen as an inspirational source to trigger customer interest before any travel plan.
                p
                    | I created 
                    span.highlight mind mappings
                    |  of the two—different page elements were generalized and extracted. Each of them fell into a specific hierarchy, whether it was 
                    span.highlight a template, a pattern, a component, or an atom
                    | . 
        .level.level--humming-bird
            .container
                img(data-src="https://i.imgur.com/UIQyrWL.png").lazyload
                img(data-src="https://i.imgur.com/pd4LnWP.png").lazyload
        .level
            .container
                p 
                    | This approach, in a very logical way, showed elements and their associations. And I saw strong correlations between the results and the information architecture of CMS. 
                p
                    | Note that I also included items that were optional or foreseeable because creating placeholders for them would make the CMS 
                    span.highlight robust and scalable
                    |  in the long run. 
                h3 2. Content Generation Flow
                p
                    | The process of forming a content structure was essentially an inverse of the way I decomposed it. The concept is similar to 
                    span.highlight Atomic Design
                    |  in which everything begins with the smallest element of the interface: the atom, then forms molecule, organism, template and eventually the page.
        .level.level--humming-bird
            .container
                img(data-src="https://i.imgur.com/fOHn09L.png").lazyload
        .level
            .container
                p
                    | This process brought insights to the workflow our operation team would follow to generate the content: 
                    span.highlight 1. create a blank page
                    | , 
                    span.highlight 2. choose a template
                    | , 
                    span.highlight 3. create modular sections
                    | , 
                    span.highlight 4. add components
                    | , and finally 
                    span.highlight 5. populate data, copy and visual elements
                    | .
                h3 3. Design Values and Guideline
                p
                    | Although campaign content is highly diversified and flexible, it should not drift away from the personality that our products have already had. In this case, we wanted to  
                    span.highlight set a design direction
                    |  that all generated content can automatically follow.
                p Extensive research was conducted to figure out opportunities that lay within brand identity, products, and customer expectations.
                .board
                    h3.smaller Highlighted Research Questions
                    h4 What is the main message our brand tries to deliver?
                    p Our brand encourages everyone to travel boldly using the reliable services we provide.
                    h4 What is the mental model in which our loyal customers think of us?
                    p In the focus group, we found out 1) pros: Booking.com had various properties, trusted reviews and easy booking processes 2) cons: there were few incentives and little inspiration they could get. 
                    h4 What are the design values we need to keep anyway?
                    p
                        | We design for people. Our job is to make it as 
                        b simple and effective
                        |  as possible for everyone involved to succeed when they interact with our service.
                    h4 What are the aspects that a campaign page can differ from the products?
                    p 
                        | We want to get our customers attracted and inspired. We want to introduce an 
                        b interesting and enjoyable
                        |  atmosphere.  
                p
                    | While comparing campaign pages to our general products, we found generality in terms of clarity and effectiveness, yet peculiarity in terms of intriguing and delightful experience. Therefore we decided to use  
                    span.highlight clarity and interestingness
                    |  as our design values for campaign pages.
                p
                    | The next step was to translate them into something tangible that could be the foundation of every campaign. Here, I want to highlight three basics that push our values forward. They are 
                    span.highlight rounded shapes, white space, and subtle gradients.
                img(data-src="https://i.imgur.com/o9O395H.png").lazyload.img--result
                p For example, I followed the basics when designing variants of property cards.
        .level.level--humming-bird
            .container
                img(data-src="https://i.imgur.com/T3Ek7xu.png").lazyload
        .level
            .container
                p
                    | Variants above were exploration of components. Next, I transformed a group of similar ones into a 
                    span.highlight generic
                    |  component. I also dissected the generic component and rethought about its variations by adding or removing an element of it.
        .level.level--humming-bird
            .container
                img(data-src="https://i.imgur.com/9VFbhIn.png").lazyload
        .level
            .container
                p
                    | In this way, we gradually established and enriched the 
                    span.highlight design pattern library
                    | .
                h3 Mock-ups
                p
                    | For content management system itself, we use 
                    span.highlight Ant Design
                    |  as its nature and determinacy help our internal users to finish their jobs in an effective and efficient manner. Below are some mock-ups.
                p Our internal users would first initiate a new campaign and select a template for it by choosing commodity-focused or inspiration-focused.
                img(data-src="https://i.imgur.com/oc039ZH.png").lazyload.img--result
                img(data-src="https://i.imgur.com/Cy39Thg.png").lazyload.img--result
                p The tool then led them to set up the new page properly including basics, sections and navigations.
                img(data-src="https://i.imgur.com/lgAlCT7.png").lazyload.img--result
                img(data-src="https://i.imgur.com/eUG4vmk.png").lazyload.img--result
                img(data-src="https://i.imgur.com/tykS0KD.png").lazyload.img--result
                p Section modules, in particular, were categorized according to previous mind mappings. To name a few, we have coupons, destinations, co-brandings and properties as our modules. 
                img(data-src="https://i.imgur.com/a0W6Smz.png").lazyload.img--result
                p After creating a new section module, users populate components inside. For example, they create a section containing various properties. They could group and prioritize them, or decide which elements will be surfaced.
                p 
                    | Even though it is quite flexible to generate the content, our values and guideline help 
                    span.highlight ensure clarity and consistency within our designs
                    | .
                img(data-src="https://i.imgur.com/6ewFrYH.png").lazyload.img--result
                img(data-src="https://i.imgur.com/R9Dggrg.png").lazyload.img--result
                img(data-src="https://i.imgur.com/zoxDQsB.png").lazyload.img--result
                img(data-src="https://i.imgur.com/GB6EHfl.png").lazyload.img--result
                img(data-src="https://i.imgur.com/n9wEfjB.png").lazyload.img--result
                img(data-src="https://i.imgur.com/AtkcCKf.png").lazyload.img--result
                p 
                    | We saw 
                    span.highlight performance increasing
                    |  after we launched this tool. In terms of productivity, we saved 20 people day in total per campaign. In terms of quality, the number of interactions happened inside a campaign page also increased by 35% on average.
        .level#section3
            .container
                h2 RESULTS
                .sep.taller
                p Finally, here are some operation campaign pages that went live thanks to the content management system.
        .level.level--oyster-pink
            .container
                img(data-src="https://i.imgur.com/ToH8kWQ.png").lazyload
        .level
            .container
                p
                    | Other affiliated tools that facilitated sourcing and publishing for operation campaigns were also built. Combining tools for marketing landings, coupon issuing, SMS and push notifications, we were able to establish a tool suite that 
                    span.highlight drives business growth
                    | .
        nav.dot-nav
            ul
                li
                    a.dot-nav--item#section1Nav(href="#section1")
                li
                    a.dot-nav--item#section2Nav(href="#section2")
                li
                    a.dot-nav--item#section3Nav(href="#section3")
        .level
            .portfolio-nav-container
                .container
                    a.prev-container(href="bio.html")
                    a.home-icon-container(href="index.html")
                    a.next-container(href="startup.html")
