.cms
    .hero
    .article-wrapper
        .level
            .container
                h1 Establishing a New Business Tool Suite
                p
                    | In 2018, Booking.com, one of the largest travel e-commerce company unprecedentedly expanded its investment in China. In order to adapt to this unique and ever-evolving market, China team quickly strategized 
                    span.highlight rich marketing and operation plans
                    |  for the purpose of 
                    span.highlight customer acquisition and retention
                    | . 
        .level#section1
            .container
                h2 TOOL SUITE
                .sep
                h3 Background
                p At the beginning, quick solutions including marketing landings, operation campaigns, SMS and push notifications were created to address immediate business needs, aiming for more traffic as well as more engagement.
                h3 General Problem
                p However, after piloting a few marketing and operation programs, results were less than satisfactory. Three critical issues were discovered from the product and design side.
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span 
                                b No infrastructure
                                |—there were no standardized workflow or tools to enable that; few services, features or design elements were reusable
                        li
                            i.icon.icon-li.ion-chevron-right
                            span 
                                b Extremely low productivity
                                |—technical dependencies were everywhere, communication cost was high and human resources were lacked
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                b Disconnection between product and business operation
                                |—few designers were involved and those early programs did not carried the same personality as our apps and sites
                h3 High-level Solution
                p
                    | As the only product/UX designer on the team, I suggested we build 
                    span.highlight a platform incorporating a matrix of tools
                    | , with each of them serving to cater one major need from business. Similar to the system of differentiation, as defined in 
                    span.highlight Gartner's pace-layered application strategy
                    | , this platform on the one hand, communicates with core algorithms and databases, on the other hand, provides various end-points so that it is adaptive and agile enough to support different service calls and frequent front-end changes.
        .level.level--humming-bird
            .container
                img(data-src="https://i.imgur.com/4fJXxCP.png").lazyload
        .level
            .container
                p Objectives of the tool matrix were:
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Facilitate an effective and sustainable workflow across teams; provide reusable services, features or design elements
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Decouple dependencies, reduce communication cost and free up human resources
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Set up design direction as it generates pattern library to align business with product
                p
                    | I will choose 
                    span.highlight one representative tool
                    |  to best showcase what the problems were and how we solved them.
        .level#section2
            .container
                h2 CMS - CAMPAIGN PAGE
                .sep.taller
                h3 Problem
                p
                    | Campaign pages are extremely common in Chinese e-commerce platforms. One of their distinguishing characteristics is that they are 
                    span.highlight content-focused
                    | . Content, though taking various forms, is usually created, grouped and organized based on business impact or customer interest. Some examples are listed.
        .level.level--oyster-pink
            .container
                img(data-src="https://i.imgur.com/Um60m7d.png").lazyload
        .level
            .container
                p
                    | By working closely with the operation team, we understood our 
                    span.highlight internal needs
                    |  were:
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Can rapidly create, group and organize unique content for each campaign
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Can flexibly change and deploy content as needed
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Can follow certain copy and design guidance to ensure quality
                p
                    | On the other hand, our 
                    span.highlight customer needs
                    |  were:
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Can browse and navigate through the content easily
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Can very well understand the main theme that the content reflects
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Can build up interest by viewing properties, incentives or travel-related articles
                p
                    | Thus, our goals can be inferred—
                    span.highlight to achieve self-service campaign creation, implementation and modification
                    |  and 
                    span.highlight to strike balance between weight, quality and entropy of the content at the meantime
                    | .
                p
                    | This yields for a 
                    span.highlight Content Management System
                    | .
                h3 1. Structure and Hierarchy
                p
                    | The first step I took was understanding structure and hierarchy of the content. I would like to 
                    span.highlight identify and extract patterns that can be generalized
                    |  into tools and processes.
                p
                    | Since our main approach is listing featured properties, incentives, or articles, I categorized all campaigns into two: 
                    span.highlight commodity-focused
                    |  and 
                    span.highlight inspiration-focused
                    | . The former exploits business opportunity, incentivizing customers to book immediately while the latter is seen as an inspirational source to trigger customer interest before any travel plan.
                p
                    | I created 
                    span.highlight mind mappings
                    | —for each category, different page elements were generalized and extracted. Each of them fell into a specific hierarchy, whether it was 
                    span.highlight a template, a pattern, a component, or an atom
                    | . 
        .level.level--humming-bird
            .container
                img(data-src="https://i.imgur.com/UIQyrWL.png").lazyload
                img(data-src="https://i.imgur.com/pd4LnWP.png").lazyload
        .level
            .container
                p 
                    | The results were highly correlated with the final information architecture of the CMS. Additionally, I included items that were optional or foreseeable in the future. Creating placeholders for them would make the CMS 
                    span.highlight robust and scalable
                    |  in the long run. 
                h3 2. Generation Flow
                p
                    | The content generation flow was essentially an inverse of how I decomposed it. The concept is similar to 
                    span.highlight Atomic Design
                    |  in which everything begins with the smallest element of the interface: the atom, then forms molecule, organism, template and eventually the page.
        .level.level--humming-bird
            .container
                img(data-src="https://i.imgur.com/L092Jy9.png").lazyload
        .level
            .container
                p
                    | Our operation team would follow similar steps to generate content: 
                    span.highlight create a blank page
                    | , 
                    span.highlight choose a template
                    | , 
                    span.highlight choose a template create modular sections
                    | , 
                    span.highlight choose a template add components
                    | , and finally 
                    span.highlight choose a template populate data, copy and visual elements
                    | .
                h3 3. Design Values and Guideline
                p
                    | Although campaign content is highly diversified and flexible, it should not drift away from the personality that our products have already had. In this case, we wanted to  
                    span.highlight set a design direction
                    |  that all generated content can automatically follow.
                p Extensive research was conducted to figure out opportunities that lay within brand identity, products and customer expectations.
                .board
                    h3.smaller Highlighted Research Questions
                    h4 What is the main message our brand tries to deliver?
                    p Our brand encourages everyone to travel boldly using the reliable services we provide.
                    h4 What is the common mental model in which our loyalty customers think of us?
                    p In focus group, we found out 1) pros: Booking.com had various properties, trusted reviews and easy booking processes 2) cons: there were few incentives and little inspiration they could get. 
                    h4 What are the design values we need to keep anyway?
                    p
                        | We design for people. Our job is to make it as 
                        b simple and effective
                        |  as possible for everyone involved to succeed when they interact with our service.
                    h4 What are the aspects that a campaign page can differ from the products?
                    p 
                        | We want to get our customers attracted and inspired. We would like to introduce an 
                        b interesting and enjoyable
                        |  atmosphere.  
                p
                    | While comparing campaign pages to our general products, we found generality in terms of clarity and effectiveness, yet peculiarity in terms of intriguing and delightful experience. Therefore we decided to use  
                    span.highlight clarity and interestingness
                    |  as our design values for campaign pages.
                p
                    | The next step was to translate them into something tangible that could be the foundation of every campaign. Here, I want to highlight three basics that push our values forward. They are 
                    span.highlight rounded shapes, white space and subtle gradients.
                img(data-src="https://i.imgur.com/o9O395H.png").lazyload.img--result
                p For example, I followed the basics when designing variants of property cards.
        .level.level--humming-bird
            .container
                img(data-src="https://i.imgur.com/T3Ek7xu.png").lazyload
        .level
            .container
                p
                    | Variants were specific components. I then transformed a group of similar components into a 
                    span.highlight generic
                    |  one that was reusable. I also dissected the generic component and rethought about more of its variations by adding or removing an element of it.
        .level.level--humming-bird
            .container
                img(data-src="https://i.imgur.com/9VFbhIn.png").lazyload
        .level
            .container
                p
                    | In this way, we gradually establish and enrich the 
                    span.highlight design pattern library
                    | .
                h3 Mock-ups
                p
                    | For the content management tool itself, we used 
                    span.highlight Ant Design
                    |  as its design language, providing clear information and navigation for the internal users. Below are some mock-ups.
                p Our internal users would first initiate a new campaign and select its campaign category: either commodity-focused or inspiration-focused.
                img(data-src="https://i.imgur.com/oc039ZH.png").lazyload.img--result
                img(data-src="https://i.imgur.com/Cy39Thg.png").lazyload.img--result
                p The tool then led them to set up the new page properly including SEO information, section modules and navigations.
                img(data-src="https://i.imgur.com/lgAlCT7.png").lazyload.img--result
                img(data-src="https://i.imgur.com/eUG4vmk.png").lazyload.img--result
                img(data-src="https://i.imgur.com/tykS0KD.png").lazyload.img--result
                p Section modules, in particular, were categorized according to the mind mappings previously.
                img(data-src="https://i.imgur.com/a0W6Smz.png").lazyload.img--result
                p Users would create any section and populate components inside. For example, they could create a section containing a variety of regular properties. They would decide how to group or which elements need to be surfaced. Even though it was quite flexible to generate the content, users could still manage to ensure a clear and consistent UI style with our products.
                img(data-src="https://i.imgur.com/6ewFrYH.png").lazyload.img--result
                img(data-src="https://i.imgur.com/R9Dggrg.png").lazyload.img--result
                img(data-src="https://i.imgur.com/zoxDQsB.png").lazyload.img--result
                img(data-src="https://i.imgur.com/GB6EHfl.png").lazyload.img--result
                img(data-src="https://i.imgur.com/n9wEfjB.png").lazyload.img--result
                img(data-src="https://i.imgur.com/AtkcCKf.png").lazyload.img--result
                p 
                    | After launching the new tool, we saw 
                    span.highlight significant performance increase
                    |  from the campaign pages CMS generated. In terms of productivity, we saved 20 people day on average per each campaign. In terms of quality, the amount of interactions happened inside a campaign page also increased by 35%.
        .level#section3
            .container
                h2 RESULTS
                .sep.taller
                p Finally, here are some operation campaign pages that went live thanks to the content management system.
        .level.level--oyster-pink
            .container
                img(data-src="https://i.imgur.com/ToH8kWQ.png").lazyload
        .level
            .container
                p
                    | Other affiliated tools that facilitated sourcing and publishing for the campaign pages were also built. Combining tools for marketing landing pages, coupon issuing, SMS and push notifications, we were establishing a suite of tools to 
                    span.highlight drive business growth
                    | .
        nav.dot-nav
            ul
                li
                    a.dot-nav--item#section1Nav(href="#section1")
                li
                    a.dot-nav--item#section2Nav(href="#section2")
                li
                    a.dot-nav--item#section3Nav(href="#section3")
        .level
            .portfolio-nav-container
                .container
                    a.prev-container(href="bio.html")
                    a.home-icon-container(href="index.html")
                    a.next-container(href="startup.html")
