.critique
    .hero
    .article-wrapper
        .level
            .container
                h1 
                    span A Product Critique on Zhihu App 
                    img(src="/assets/img/zhihu-logo.png")
                p In this article I will give a product critique on Zhihu’s iOS app in terms of UX design. I will explore the design decisions and propose corresponding solutions too.
        .level
            .container
                h2 INTRODUCTION
                .sep
        .level.level--oyster-pink
            .container        
                img(src="/assets/img/intro.png")     
        .level
            .container           
                p When Zhihu was founded, it was our Chinese 'Quora', a place to share knowledge, experiences and thoughts with the world. Six years later, things have evolved. Zhihu is now a diverse community of interests. It actually becomes a social medium that connects people in multiple ways of knowledge sharing.
        .level
            .container
                h2 BUSINESS OBJECTIVES AND USER NEEDS
                .sep.taller
                p Over the years, the fundamental of Zhihu remains the same: asking and answering questions by users. On the premise that an authentic, efficient and knowledge-based community has been established, Zhihu derives higher business objectives:
                ol
                    li
                        i.icon.icon-li.ion-chevron-right
                        span To reduce cost of knowledge acquisition, propagation and communication
                    li
                        i.icon.icon-li.ion-chevron-right
                        span To explore various scenarios that meet more user needs of knowledge
                    li
                        i.icon.icon-li.ion-chevron-right
                        span To integrate advertisement into content without damaging the community
                    li
                        i.icon.icon-li.ion-chevron-right
                        span To transform itself into a platform that truly serves the knowledge market
                p These objectives are associated with user needs:
                ol
                    li
                        i.icon.icon-li.ion-chevron-right
                        span To search, navigate, and browse intuitively
                    li
                        i.icon.icon-li.ion-chevron-right
                        span To have maximum probability of getting high-quality recommendations
                    li
                        i.icon.icon-li.ion-chevron-right
                        span To earn protection and reward by contributing to knowledge market
                    li
                        i.icon.icon-li.ion-chevron-right
                        span To build more reliable and intimate connections with other knowledge contributors and pursuers
                p These external needs and internal objectives have set the goals of Zhihu’s iOS app design. Now, let’s examine some specific content and functionality in the existing app to see if the goals are well-achieved.
        .level
            .container
                h2 HOME AND DISCOVER FEED
                .sep.taller
                p One of the compelling features of Zhihu’s iOS app is fast and efficient knowledge retrieval. It uses Home and Discover to recommend what would most likely interest a user to browse—the feed. 
                p Sharing a card-based layout, Home and Discover are able to dynamically load feeds through infinite scrolling from top to bottom. The main difference lies within content. That is, Home introduces feeds from user’s network while Discover collects feeds from trending answers on the website.
                p Here are three problems I would like to mention.
                
                h3 1. Structural design of the feed is monotonous, lacking a sense of depth and rhythm. 
        .level.level--humming-bird
            .container
                img(src="/assets/img/home-discover-1.png")
        .level
            .container
                h4 PROBLEM
                p Overall, Zhihu is conservative in displaying the feed. By conservative I mean information is added with little prioritization or classification. There is no evidence to suggest that feeds are chronologically ordered or visually categorized. Since users cannot tell the reason why one feed item is placed ahead of another, their scrolling experience becomes aimless. Take myself as an example, I have never browsed the feeds three screens away from the initial one because I assume I wouldn’t find anything more interesting for me. So with current structure, users tend to lose their interests quickly and stop browsing fairly soon.
                h4 SOLUTION
                p With the card-based layout intact, rearranging the feed in a hierarchical and flexible way would provide a greater user experience. To add more depth, designers could organize the feeds into different categories with corresponding titles and color indications. To add more rhythm, they could tweak size, layout and interaction intermittently. For example, within a topic, the first feed could have a larger image and a special layout. This flexibility in design generally allows the feeds being more interesting to read.
                h3 2. Differences between feeds from Home and from Discover bring about confusion.
        .level.level--humming-bird
            .container        
                img(src="/assets/img/home-discover-2.png")
        .level
            .container
                h4 PROBLEM
                p As mentioned above, Home provides feeds related to current user’s followings while Discover provides feeds that are recently most popular in community. However, feeds from both fail to develop their own characteristics in terms of appearance and functionality: they use similar layouts and duplicated interactions. Therefore, one would hardly turn to Discover to "discover" new things if he has been "discovering" new things in Home. In this case, we could imagine that much less traffic would be led to Discover.
                h4 SOLUTION
                p Home and Discover must distinguish their personalities from each other. Visually, adding distinct category titles and applying corresponding color schemes are alternatives. From a content-driven perspective, Discover feed should persistently provide knowledge that is not only interesting but also speical. The key is to let a user discover knowledge that he has never realized before.
                p Another possible solution would be refactoring IA. For example, we could removing the search bar from Home and replacing the compass icon with a search icon for Discover And we could add top navigations like 'Subscribe' or 'Broadcast' to indicate different categories of the feed sources. It would require further thinking but would ease current ambiguity. 
                h3 3. Interactions of removing feed are inconsistent.
        .level.level--humming-bird
            .container
                img(src="/assets/img/home-discover-3.png")
        .level
            .container
                h4 PROBLEM
                p The first inconsistency lies across sections. Notice that cross button at the top right corner of a feed item in Home? It does not appear in Discover. More importantly, once tapping the cross button, the replacing card uses an inconsistent design with borders and rounded corners. It provides no confirm button and would never disappear unless one of the tags is chosen.
                h4 SOLUTION
                p Since the delete button is too small, I doubt anyone would frequently use it. And if the app provides feeds that always understand user needs, the action of removing a feed item is considered redundant. Therefore, by removing this button, the problems of inconsistency and poor interaction design are solved.
        .level
            .container
                h2 KNOWLEDGE MARKET
                .sep.taller
                p Market indicates Zhihu’s determination to provide high-quality knowledge services and establish a well-regulated knowledge market. It creates three new scenarios for knowledge sharing—Live, Bookstore and Pay to Ask. Zhihu Live, especially, is an innovative avenue for knowledge contributors interacting with the audience and getting rewarded for their effort.
                p Beginning with a carousel of advertisements, Market mainly consists of entries to the knowledge services mentioned above as well as featured items belonging to each one. The user experience is more interesting in this page. First, it has diversified interactions because it adds actions of horizontal swiping when scrolling from top to bottom. Second, knowledge content is categorized accordingly. It is easier for users to navigate through a hierarchical structure.
                p However, there are still some issues to address.
                h3 1. Onboarding design of Live is not compelling.
        .level.level--oyster-pink
            .container
                img(src="/assets/img/knowledge-market-1.png")
        .level
            .container
                h4 PROBLEM
                p Since Live is not free and its content is only available to those who registers, the only way to know what Live is and how it works is through in-app instructions. The existing instructions, unfortunately, are neither sufficient nor efficient. As a result, users are not clear about the product. They either hesitate to use Live or get disappointed after the first time they use Live because it does not meet their expectations.
                h4 SOLUTION
                p Assisting users with interactive guidance and free examples is a better practice in my opinion. For the first time users launch Live, the app teaches them how to join in a free live and how to interact with others in the live. Users would get familiar with Live by experiencing the product in person. In other words, a better onboarding motivates users, making them confident in the quality and the utility of what Live is offering them.
                h3 2. Interaction designs in Live, Bookstore and Pay to Ask are cluttered.
        .level.level--oyster-pink
            .container
                img(src="/assets/img/knowledge-market-2.png")
        .level
            .container
                h4 PROBLEM
                p Services have been added without a clear vision to how they fit into the overall design. Each one uses a different layout: from page titles, to search icons, to tabs and to navigations. For example the search function is missing in Live and the main navigation in Pay to Ask has a different height. This inconsistency not only costs users more time learning and adapting to the new UI but also prevents them from considering each service as an integral part of the whole: the knowledge market.
                h4 SOLUTION
                p Zhihu needs to unify designs and interactions. Different knowledge services need to have more similarities, such as header appearance and navigating method. So they don’t feel like they are disconnected from each other. To distinguish, minor icon or color differences could be added. Finding characteristics in common would help users understand the knowledge market thoroughly so that they wouldn't feel strange when they visit a new service.
                h3 3. The unequal distribution of effort in different services is reflected.
                h4 PROBLEM
                p Anyone who uses the app must have a strong feeling that Live is becoming more and more popular. Considering the complexity of Live, it outweighs the other two. However, this emphasis has not been reflected on the product. When entering ‘Market’, users cannot tell Live is featured with a special design. Thus, their interests cannot be triggered effectively.
                h4 SOLUTION
                p A bold suggestion would be separating Live from the existing app and making it an independent app. The reason is that Live is such an innovative product that it incorporates the concept of sharing economy into knowledge market. It is a complete and competitive product in terms of content and function. The interaction within a Live, especially, is fun to use like a live chat app. To weigh the risks and benefits, I believe restricting ‘Live’ in ‘Market’ would not hugely solidify knowledge market but restrict the development of Zhihu Live to some extent.
        .level
            .container
                h2 ASKING AND ANSWERING
                .sep.taller
                p Asking and answering are basic functions of any Q&A websites including Zhihu and Quora. Compared to Quora, however, it seems that Zhihu has deliberately overshadowed these two functions on the mobile app. It is reasonable in some perspective since the system is at scale and editing text and image using a mobile phone could be frustrating. Even so, I feel like users deserve a better experience:
                h3 1. Design and interaction of question asking and answering are lackluster.
                h4 PROBLEM
                p For example, Zhihu opens only one entry point in the whole app for question asking and the subsequent procedure lacks guidance-users have no idea how many steps are away from posting a question successfully.
                h4 SOLUTION
                p One solution could be adding one or two items of ‘What is your question?’ like Quora in the feeds, and encouraging users to ask questions while browsing. As for guidance, designers could place a progress bar at the top indicating the current step. Once one step finished, the status updates, the progress bar advances and the color reminds. Therefore, the user experience is much playful and fun.
                h3 2. Wrong action area undermines usability.
                h4 PROBLEM
                p As the thumb-zone heat map suggests, the natural area that is in reachable distance of the thumb is in the lower half. Apparently, the ‘Next’ button is far from a reachable distance.
                h4 SOLUTION
                p Bringing call-to-action buttons like ‘Next’ or ‘Publish’ to the natural area can prove beneficial from an experience standpoint. Zhihu could learn from Quora by placing the buttons right next to keyboards. This would facilitate the experience of asking a question.
        .level
            .container
                h2 OTHER DISCREPANCIES
                .sep.taller
                h3 1. Information pieces are accumulated with little sense of priority and hierarchy.
                p Many pages are facing this common problem. Speaking of priority, the search page, in particular, presents search results with a confusing order----neither the answer with most upvotes nor the one with newest publishing date is necessarily top of the results. Users often scroll down to find the answer they needs. Speaking of hierarchy, the feeds, the lives, the books are all plainly added one by one. The browsing experience like tasting a hotchpotch, not awful but definitely not exciting.
                h3 2. There are some icon misuses.
                p For example, the bubble icon at top-right is a wrong metaphor for private messages. It is intended for initiating a dialog not for receiving a message. It would be suitable to use an inbox icon instead. Another example is that the icon for sharing indicates writing an answer not sharing knowledge. Additionally, the Ask, Answer and Share use line icons which is inconsistent with other solid icons throughout the whole app. Lastly, the cross button for deleting feed and the dropdown button in a live are easy to mis-tap.
                h3 3. Loading patterns are inconsistent.
                p The majority of loading animations use a spinner. However, there are three different styles of spinners. This inconsistency is likely to break the integrity of the whole app.
                h3 4. Ads are a little bit overwhelming.
                p Plus, I am not particularly in favour of the idea of carousel. I feel like it is a web thing rather than a component that fits into the iOS app design paradigm very well.
        .level
            .container
                h2 REFLECTION
                .sep
                
