.denture
    .hero
    .article-wrapper
        .level
            .container
                h1 A Re-Branding for Guhao Dental Lab
        .level
            .container
                h2 CONTEXT
                .sep.taller
                p I have had the pleasure making a new identity for Guhao Dental Laboratory, which offers quality craftsmanship ranging from denture products to orthodontic solutions.
                p 
                    | The company is now facing new challenges and opportunities as it incorporates digitalization and 3D printing into the business. Due to its transformation, Guhao Dental Lab needed some design help to create a fresh 
                    span.highlight brand identity
                    | , as well as help creating their very first 
                    span.highlight public website
                    |  for promotion use.
        .level
            .container
                h2 BRAND IDENTITY
                .sep.taller
        .level
            .container
                h2 PUBLIC WEBSITE
                .sep.taller
                p
                    | I led the design and development of public website. The 
                    span.highlight architecture
                    |  work was started first, then 
                    span.highlight wireframes
                    |  and finally 
                    span.highlight a live website
                    |  was created iteratively through the development phase.
                h3 Architecture
                p By dividing services and products into modules, I created the information architecture. From the top level, modules are:
                ul
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Home—landing page of the whole website
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Company—introduction, news, articles and partners of the company 
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Products—denture and orthodontic products, dental implants as a plus
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Trainee—program to educate and cultivate inexperienced apprentices
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Careers—job application
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Contact—page to contact the company
                img(src="/interaction-design-portfolio/assets/img/ia.jpg")
                h3 Wireframes
                p I then went through a quick process of wireframing. Some were sketched out by hand and some were created using computer.
        .level.level--humming-bird
            .container
                img(src="/interaction-design-portfolio/assets/img/sketches.png")
        .level
            .container
                h3 Responsive Design
                p Pages were designed for various screen sizes; they would adjust their layouts responsively.
                h3 Navigation UI
                p The top navigation bar is based on the information architecture mentioned before. And it would collapse into a hamburger menu on the mobile version.
                h3 Results
        .level
            .container
                h2 CONCLUSION AND REFLECTION
                .sep.taller
                p 
                    | I felt really excited that I had the practical chance to rebrand a product, from bootstrapping the brand identity to designing and implementing a public website. It made me more than happy seeing 
                    span.highlight a finished product
                    | , incorporating the ideas of design, technology as well as business.
                p 
                    | More importantly, working with Guhao Dental Lab substantiated the value of 
                    span.highlight collaboration
                    | . Designers have to fully understand what their clients need before they dive into details. And I realized that the design should reflect the value of enterprise in order to differentiate from other competitors.
