.denture
    .hero
    .article-wrapper
        .level
            .container
                h1 A Re-Branding for Guhao Dental Lab
        .level
            .container
                h2 CONTEXT
                .sep.taller
                p I have had the pleasure making a new identity for Guhao Dental Laboratory, which offers quality craftsmanship ranging from denture products to orthodontic solutions.
                p 
                    | The company is now facing new challenges and opportunities as it incorporates digitalization and 3D printing into the business. Due to its transformation, Guhao Dental Lab needed some design help to create a fresh 
                    span.highlight brand identity
                    | , as well as help creating their very first 
                    span.highlight public website
                    | , and 
                    span.highlight a mobile app
                    |  for a thorough inspection and management of the production line.
        .level
            .container
                h2 BRAND IDENTITY
                .sep.taller
        .level
            .container
                h2 PUBLIC WEBSITE
                .sep.taller
        .level
            .container
                h2 MOBILE APP
                .sep.taller
        .level
            .container
                h2 CONCLUSION AND REFLECTION
                .sep.taller
