.denture
    .hero
    .article-wrapper
        .level
            .container
                h1 A Re-Branding for Guhao Dental Lab
        .level
            .container
                h2 CONTEXT
                .sep.taller
        .level
            .container
                h2 BRAND IDENTITY
                .sep.taller
        .level
            .container
                h2 PUBLIC WEBSITE
                .sep.taller
        .level
            .container
                h2 MOBILE APP
                .sep.taller
        .level
            .container
                h2 CONCLUSION AND REFLECTION
                .sep.taller
