.denture
    .hero
    .article-wrapper
        .level
            .container
                h1 Re-Branding: a New Look of Guhao Dental Lab
        .level#section1
            .container
                h2 CONTEXT
                .sep.taller
                p I have had the pleasure making a new identity for Guhao Dental Laboratory, which offers quality craftsmanship ranging from denture products to orthodontic solutions.
                p 
                    | The company is now facing new challenges and opportunities as it incorporates digitalization and 3D printing into its business. Due to this transformation, Guhao needed some design help to create a fresh 
                    span.highlight brand identity
                    | , to establish a 
                    span.highlight public website
                    |  for promotional use, as well as to build a 
                    span.highlight mobile app
                    |  that would indicate work efficiency and facilitate production pipeline.
        .level#section2
            .container
                h2 BRAND IDENTITY
                .sep.taller
                p I started with creating a brand identity that sets the basic tone for further design and development.
                h3 Goals
                p 
                    | Working closely with the founders, we first made sure that the key product questions were addressed in the 
                    span.highlight creative brief
                    | .
                .board
                    h3.smaller Creative Brief
                    h4 Who are the target audiences?
                    p The majority of audiences are dentists, dental clinics and stomatological hospitals. A minority would be patients whom are targeted directly.
                    h4 What makes Guhao unique?
                    p 
                        | 1. 
                        b Accurate
                        | —3D scanning eliminates unnecessary errors and improves the fidelity of dental model reconstructions; 2. 
                        b Rapid
                        | —3D printing allows the lab to automate and optimize denture production workflows. 3. 
                        b Economical
                        | —The production is very efficient because digitalization and 3D printing save the cost of energy and labor in a long run.
                    h4 What product characteristics does Guhao want to promote?
                    p Healthy, fast, economical, enduring and most importantly, high-tech.
                h3 Inspirations
                p After researching into the workflow, I gradually understood how things worked out in a dental lab and especially how 3D scanning and 3D printing influenced its production pipeline. I collected the following inspirations for logo design.
        .level.level--oyster-pink
            .container
                img(data-src="http://i.imgur.com/nfXurLz.png").lazyload
        .level
            .container
                h3 Logo
                p 
                    | The logo itself is an abstraction of tooth viewed in 3D space. It is created in a style that appears to be 
                    span.highlight perspective, simple and modern
                    | . The main idea is not only introducing 
                    span.highlight the efficiency of advanced technology
                    |  but also preserving 
                    span.highlight the proficiency of traditional craftsmanship
                    | . 
                img(data-src="http://i.imgur.com/nfE8cM2.jpg").lazyload.img--result
                p 
                    | The logo is divided into layers in its bottom half. Why? Because this explains how 3D printer works in prototyping—a wax pattern of denture model is built 
                    span.highlight layer by layer
                    | . Considering each layer a horizontal cross-section of the tooth, a 3D printer accumulates and stacks these layers, one upon the other, to form the final mass. 
                p
                    | On the other hand, the geometry and space in between simulate the incisions 
                    span.highlight carved out
                    |  by artisans, indicating the dedication to craftsmanship.
                p Below are a collection of logos in different themes.
                img(data-src="http://i.imgur.com/xHjizRy.jpg").lazyload.img--result
                p 
                    | The 
                    span.highlight transformation
                    |  of the logo, from bottom to top, from layers to solid, reveals the workflow of producing dental products in Guhao. Meanwhile, the straight lines and sharp corners indicate the efficiency and proficiency the company has been equipped with.
                h3 Color Palette
                p
                    | With the metaphor of 
                    span.highlight health and technology
                    | , I chose to use cold colors of 
                    span.highlight blue and green
                    |  to form the color palette. Logo and the public website are consistent in regard of coloring.
        .level.level--oyster-pink
            .container
                img(data-src="http://i.imgur.com/Ia3fD7I.png").lazyload
        .level#section3
            .container
                h2 PUBLIC WEBSITE
                .sep.taller
                p
                    | I led the design and development of public website. The 
                    span.highlight architecture
                    |  work was started first, then 
                    span.highlight wireframes
                    |  and finally 
                    span.highlight a live website
                    |  was created iteratively through the development phase.
                h3 Architecture
                p By dividing services and products into modules, I created the information architecture. Top-level modules are:
                ul
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Home—landing page of the whole website
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Company—introduction, news, articles and partners of the company 
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Products—denture and orthodontic products, dental implants as a plus
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Trainee—program to educate and cultivate apprentices
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Careers—job application
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Contact—page to contact the company
                img(data-src="http://i.imgur.com/xR19LzU.jpg").lazyload
                h3 Wireframes
                p I then went through a quick process of wireframing. Some were sketched out by hand and some were created using computer.
        .level.level--humming-bird
            .container
                img(data-src="http://i.imgur.com/nGdo2YZ.png").lazyload
        .level
            .container
                h3 Responsive Design
                p 
                    | Pages were designed for 
                    span.highlight various screen sizes
                    | ; they would adjust their layouts responsively.
        .level.level--humming-bird
            .container
                img(data-src="http://i.imgur.com/6KbL2Gi.png").lazyload
        .level
            .container
                h3 Navigation UI
                p 
                    | The top navigation bar is based on the information architecture mentioned before. It would 
                    span.highlight collapse
                    |  into a hamburger menu on the mobile version.
        .level.level--humming-bird
            .container        
                img(data-src="http://i.imgur.com/B9L1L31.png").lazyload
        .level
            .container
                h3 Results
                img(data-src="http://i.imgur.com/jKnQoL6.png").lazyload.img--result
                img(data-src="http://i.imgur.com/WaBIAFj.png").lazyload.img--result
                img(data-src="http://i.imgur.com/gnFhfrF.png").lazyload.img--result
                img(data-src="http://i.imgur.com/PEdSuT3.png").lazyload.img--title
                img(data-src="http://i.imgur.com/1qqkobX.gif").lazyload.img--result
        .level#section4
            .container
                h2 MOBILE APP
                .sep.taller
                p I also led the design work of a mobile app—Guhao Assistant for company's internal use.
                h3 Background
                p Creating crowns, bridges and veneers in dental lab follows a strict sequence. Each technician is in charge of one specific step of the workflow. And he would pass the product onto the next one once finishing his own step. The company used to ask technicians to write down their names under the product's barcode in order to maintain data.
                p With a heavy switch to digital aided technologies, Guhao decided to make a new app that improves this process and therefore, benefits not only the company but also individual technicians.
                h3 User Needs
                p
                    | I started by doing user research. I surveyed 35 employees. And 33 of them said that the action of writing down their names was tedious and pointless. I also interviewed 3 managers. And all of them reported a frequent occurrence of error or missing data.
                p
                    | Therefore, the app was supposed to be 
                    span.highlight simple
                    | , 
                    span.highlight encouraging
                    |  and 
                    span.highlight reliable
                    | , helping every company member who participated in the denture production pipeline.
                .flex.wider
                    ol
                        li
                            i.icon.icon-li.ion-chevron-right
                            span 
                                | On the one hand, it would help 
                                span.highlight an employee
                                |  put his work records into database, get reminded of everyday work progress, and understand his own work efficiency from the past.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                | On the other hand, it would assist 
                                span.highlight an employer
                                |  get up-to-date work status from the backend, keep track of every denture product and people that are involved, and make strategies based on reliable data.
                h3 Use Cases
                p After discussing with managers and stakeholders, I nailed down the required features. The key use cases I covered were:
                ul
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Log in and sign up
                    li
                        i.icon.icon-li.ion-chevron-right
                        span View today's work progress
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Scan the barcode to automatically insert a record upon finishing one's own step of the entire process
                    li
                        i.icon.icon-li.ion-chevron-right
                        span View work efficiency during a certain time elapse
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Search for a specific record of current employee
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Receive company notifications
                    li
                        i.icon.icon-li.ion-chevron-right
                        span View personal data and work summaries
                h3 Task Flows
                p Below are some selected high-fidelity mobile screens and the screen flows.
        .level.level--humming-bird
            .container
                img(data-src="https://i.imgur.com/7p502AU.png").lazyload
        .level
            .container
                h3 Results
                img(data-src="https://i.imgur.com/Gh9xVhc.jpg").lazyload.img--result
        .level
            .container
                h2 CONCLUSION AND REFLECTION
                .sep.taller
                p 
                    | I felt really excited that I had the practical chance to rebrand a product, from bootstrapping the brand identity, to building a public website, to designing a mobile app. It made me more than happy seeing 
                    span.highlight a finished product
                    | , incorporating the ideas of design, technology as well as business.
                p 
                    | More importantly, working with Guhao Dental Lab substantiated the value of 
                    span.highlight collaboration
                    | . Designers have to fully understand what their clients need before they dive into details. And I realized that the design should reflect the value of an enterprise in order to stand out from competitors.
        nav.dot-nav
            ul
                li
                    a.dot-nav--item#section1Nav(href="#section1")
                li
                    a.dot-nav--item#section2Nav(href="#section2")
                li
                    a.dot-nav--item#section3Nav(href="#section3")
                li
                    a.dot-nav--item#section4Nav(href="#section4")
        .level
            .portfolio-nav-container
                .container
                    a.prev-container(href="startup.html")
                    a.home-icon-container(href="index.html")
                    a.next-container(href="critique.html")
