.section-wrapper.section-1
    .section
        .flex
            .col-1of2
                .sep
                h2 Building Tran3D from Zero to One
                p Leveraging design methods to build a web platform that decodes 3D printing into context that people can comprehend and make use of everyday.
                h4 VISUAL DESIGN · UX DESIGN · CODING
                a(href="startup.html").cta LEARN MORE
            .col-1of2
