.section-wrapper.section-0
    .section
        .flex
            .col-1of2
                .sep
                h2 Designing Filters in a Scientific Way
                p Making it as simple and enjoyable as possible for every traveler finding a perfect stay for every imaginable reason. 
                h4 RESEARCH · UX DESIGN
                a(href="booking.html").cta LEARN MORE
            .col-1of2
