.section-wrapper.section-2
    .section
        .flex
            .col-1of2
            .col-1of2
                .sep
                h2 Rebranding Guhao Dental Lab
                p Bootstrapping a brand identity that delivers the spirits of technology and craftsmanship, as the dental lab steps into a new era.
                h4 BRANDING · VISUAL DESIGN · CODING
                a(href="denture.html").cta LEARN MORE
