.section-wrapper.section-5
    .section
        .flex
            .col-1of2
            .col-1of2
                .sep
                h2 Fulfilling Management Goals for a Team 
                p Taking on the design challenge: a professional management tool that facilitates a manager's work within a small team.
                h4 PRODUCT · UX DESIGN
                a(href="sap.html").cta LEARN MORE
