.section-wrapper.section-3
    .section
        .flex
            .col-1of2
            .col-1of2
                .sep
                h2 Rebranding Guhao Dental Lab
                p Revamping the brand identity that delivers value of technology and craftsmanship as the laboratory steps into a new era, meanwhile bootstrapping its mobile app and public website.
                h4 BRANDING · VISUAL DESIGN · UX DESIGN · CODING
                a(href="denture.html").cta LEARN MORE
