.section-wrapper.misc
    .flex
        .col-1of2
            .sep
            h2 ... writing compelling stories ...
            p By using storytelling to create compelling user experiences, one helps teach, entertain, share and therefore, rebuild human connections. Let’s start by writing a story of my own ...
            h4 STORYTELLING
            a(href="bio.html").cta LEARN MORE
        .col-1of2
            .sep
            h2 ... staying keen on surroundings ...
            p People don’t born with a good intuition about UX design. Every moment we open up a website or an app becomes the starting point of learning  what interests people and what does not ...
            h4 ANALYSIS · CRITIQUE
            .cta LEARN MORE
