.section-wrapper.section-4
    .section
        h2 Sharing with You My UX Journey
        .sep
        .flex
            .col-1of2
                h2 
                p Writing a story of myself helps me reflect on my career path and understand where my future truly lies. I would love to share success and failure with the community.
                h4 STORYTELLING
                a(href="bio.html").cta LEARN MORE
            .col-1of2
