.section-wrapper.branding
    h2 ... and sharing success & failure with audience .
    .sep
    .flex
        .col-1of2
            p Successful stories are compelling and failing ones are alarming. One of the powers a community has is that it helps you promote your product when it succeeds and it gives suggestions to your product when it fails ...
            h4 BRANDING · VISUAL DESIGN · CODING
            a(href="denture.html").cta LEARN MORE
        .col-1of2
