.section-wrapper.section-0
    .section
        .flex
            .col-1of2
            .col-1of2
                .sep
                h2 Establishing a Business Tool Suite
                p Transforming business strategy into innovation of functional, flexible and scalable tools that connect customers, products, and marketplaces.
                h4 PRODUCT · UX DESIGN
                a(href="cms.html").cta LEARN MORE
