.section-wrapper.misc
    .flex
        .col-1of2
            .sep
            h2 Building Tran3D from Zero to One
            p Leveraging the design language to build a web platform that decodes 3D printing into context that people can comprehend and make use of everyday.
            h4 VISUAL DESIGN 路 UX DESIGN 路 CODING
            a(href="startup.html").cta LEARN MORE
        .col-1of2
            .sep
            h2 Rebranding Guhao Dental Lab
            p Bootstrapping a brand identity that delivers the spirits of technology and craftsmanship, as the dental lab steps into a new era.
            h4 BRANDING 路 DESIGN 路 CODING
            a(href="denture.html").cta LEARN MORE
