.section-wrapper.section-3
    .section
        .flex
            .col-1of2
                .sep
                h2 Critiquing Zhihu's iOS App
                p Exploring existing problems and proposing corresponding suggestions for an iOS app I like to use and see design improvements from.
                h4 ANALYSIS · CRITIQUE
                a(href="critique.html").cta LEARN MORE
            .col-1of2
