.section-wrapper.section-2
    .section
        .flex
            .col-1of2
            .col-1of2
                .sep
                h2 Rebranding Guhao Dental Lab
                p Revamping a brand identity that delivers the value of technology and craftsmanship as the dental lab steps into a new era, as well as bootstrapping its mobile app and public website.
                h4 BRANDING · VISUAL DESIGN · UX DESIGN · CODING
                a(href="denture.html").cta LEARN MORE
