.section-wrapper.intro
    .section
        h4 UX DESIGN PORTFOLIO
        h1 Endeavor to create a better user experience
        h3 BY QIHAN XU
        p Hello, I'm Qihan Xu, a user experience designer. The purpose of this website is to write down my thought process and design solution through unique stories.
        h5 
            a(href="mailto:qihan.xu@gmail.com") EMAIL
            |  | 
            a(href="/assets/file/Resume-Qihan-Xu.pdf") RESUME
