.intro
    h4 UX DESIGN PORTFOLIO
    h1 Endeaver to create a better user experience
    h4 NOTES FROM GREG
    p The purpose of this site is to showcase my personal enthusiasm towards UX design, a fascinating area requiring much effort in ...
