.startup
    .hero
    .article-wrapper
        .level
            .container
                h1 Tran3D: First Class in UX Design
                p Last year, I have been working on a 3D printing cloud platform, named Tran3D. In this article I will select three milestones during the design/development process and I will analyze each of them from strategy to interface.
        .level
            .container
                h2 OVERVIEW
                .sep.taller
                h3 About the company
                p
                    | Tran3D is 
                    span.highlight an online 3D printing service platform where distributed 3D printing resources are gathered, shared, and applied
                    | .
                h3 How it works
                p 
                    | Tran3D runs a C2C business model. It facilitates transactions between 
                    span.highlight 3D printer owners and people who want to make 3D prints
                    | . Service bureaus can join the platform to offer 3D printing services while customers can select one of the best solutions we recommend to get their 3D models printed.
                h3 My roles
                p 
                    | Being one of the co-founders, I led the 
                    span.highlight UI/UX design and front-end development
                    |  from start to finish in the past one year. 
                p As a designer, I worked on
                ul
                    li
                        i.icon.icon-li.ion-chevron-right
                        span User research
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Sketches and wireframes
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Visual and interaction design
                p As a developer, I was responsible for
                ul
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Writing reusable CSS
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Building application based on AngularJS and Three.js
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Designing API endpoints that could collaborate with back-end
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Loading modules with oc-lazyload and Webpack
                h3 How I started
                p
                    | At the early stage of a startup company, 
                    span.highlight I wanted to deliver a minimum viable product as soon as possible.
                    |  I also wanted to provide a flexible structure that could scale naturally as the website grows. So I started with architecture and decomposed it into modules.
                p Next, I will select three representatives and go through their design processes and implementation results.
        .level
            .container
                h2 START A 3D PRINT
                .sep.taller
                h3 The Problem
                p
                    | 3D printing features rapid prototyping and product customization. It enables consumer products to be made on­-demand, eliminating the restriction to craftsmanship and manufacture, as well as reducing the waste from overproduction and overpricing. So here comes the problem—
                    span.highlight how can I get customers onboard and fully deliver such quality of 3D printing to them?
                h3 The Analysis
                p
                    | To introduce complex technology home, Tran3D must provide customers with an easy and fast channel to getting their hands on real 3D printed products. 
                    span.highlight The main idea was to build a module that helps users start a 3D print and guides them quickly through a customization workflow before they reach the shopping cart.
                    |  I called it "Start a 3D Print" and then identified some core principles:
                ul
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Prominent call-to-actions—Highlighted elements draw attentions and trigger interests. 
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Refined steps—Tasks that are easier to do are a better starting point for people with low motivation (see BJ Fogg Behavior Model).
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Limited choices—It’s often easier to make a decision when presented with only a few options.
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Hidden expert-level interfaces and terminologies—Expert users are only the minority.
                p
                    | Overall, I wanted to make this module accessible and easy to customers and boost user engagement. The customization workflow of 3D printing should be 
                    span.highlight lucid
                    | , 
                    span.highlight fast
                    | , 
                    span.highlight efficient
                    | , and 
                    span.highlight interesting
                    | .
                h3 The Exploring
                p 
                    | Based on the analysis, I started my exploration by scoping the workflow into three phases: 
                    span.highlight Upload Your Models
                    | , 
                    span.highlight Select a Material
                    | , and 
                    span.highlight Choose a 3D Printing Service
                    | . In this way, a complex and tedious process was effectively decomposed into parts whose tasks are easier to understand and goals are clearer to achieve.
                p I then started to play with a few key design concepts by creating mid-fidelity wireframes. Those concepts were:
                ul
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Create visually striking buttons that compel users to click. For example, 'Start a 3D Print' button at the top navigation draws attentions and gives everybody a direct access to getting started. Besides, 'Next' buttons between steps provide natural leads and transitions, which help users move forward.
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Integrate all three phases in one page for an unbreakable experience. This integrity keeps data consistent and interaction coherent. And if you accidentally do something that doesn’t produce the results you were looking for, you could scroll backward for any small corrections without repeating the whole process.
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Unlock the next phase until the current one is completed. Loading the customization workflow once for all adds unnecessary choices on the screen, which could heavily distract users from focusing on the current step. On the contrary, loading step by step provides better guidance and creates more interesting interactions to the system. 
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Prioritize imperative parameters, use straightforward wording and hide expert-level content. Complex interfaces and terminologies are not only overwhelming for beginners, but could also be difficult to use for experts in certain cases. Hiding some of the unimportant terminologies like 'Infill Ratio' or '3D Printing Technology' into advanced tabs could be a choice.
                h3 The Result
                p 
                    | After unifying data structure with the team, I finalized the flow as indicated below. It creates 
                    span.highlight a clear sense of assistance
                    |  and 
                    span.highlight reduces the unnecessity
                    |  to minimum so that most non-expert users can understand how things work without any direct explanation. Useful images and friendly language are added throughout. It also has animations and transitions, which adds a bit of fun. I am optimistic that users will get onboard and progress through all three phases without friction, leading to successful customizations of their 3D printable products.
        .level
            .container
                h2 DISCOVER A USER
                .sep.taller
                h3 The Problem
                p 
                    | Tran3D in essence is a 3D printing community where users design, prototype, sell and buy custom products and services. However, different users have different roles. Given a user, 
                    span.highlight how can we distinguish his roles from others'; which functions should we assign to him; and how can we help showcase his characteristics and develop his own "brand"?
                h3 The Analysis
                p 
                    span.highlight Upon discovering a user, one has to identify that person's roles and characteristics intuitively and efficiently. 
                    span.highlight Designers
                    |  productively transfer their concepts into printable designs. 
                    span.highlight Manufacturers
                    |  register 3D printers and promote their products. And like 
                    span.highlight the rest of individuals
                    | , both can follow, collect or purchase what they are interested in. According to this, I listed some keywords to better guide my design.
                ul
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Architecture—Interpreting underlying data structure and class inheritance into information architecture reduces confliction between design and development.
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Hierarchy—The item that first grabs the eye’s attention is at the top of the hierarchy. Each item that draws attention next is subordinate to the one before it.
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Coloring—One of the easiest ways to distinguish objects is through colors.
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Personalization—Users are more likely to get motivated if provided more personalized choices.
                h3 The Exploration
                p I made these design decisions:
                ul
                    li
                        i.icon.icon-li.ion-chevron-right
                        span I separated users into three categories: common individuals, designers and manufacturers. All types shared a same template—Basic information was listed out and designs, collections, orders, followings and followers were organized into tabs. However, it is worth noting that designers were given an extra section to introduce their backgrounds, concepts and portfolios while manufacturers were given a shop page and a dashboard to manage printers, orders and etc in the shop.
                    li
                        i.icon.icon-li.ion-chevron-right
                        span I used the Z Pattern—Our eye starts scanning from top left to top right, then diagonally down to bottom left, stopping at the bottom right. Therefore, the sequence of displaying user information was avatar and name first, followed by content categories, and list of specific items last.
                    li
                        i.icon.icon-li.ion-chevron-right
                        span I chose to use the color palletes from flat design and then provided clear and accurate labeling. The personality is bold and stands out. 
                    li
                        i.icon.icon-li.ion-chevron-right
                        span I highlighted 'Register', 'Create' and 'Follow' buttons and encouraged users to personalize their profiles when they were lack of activities. The more they participate, the easier to showcase their personality and to find their friends. Also, user behaviors such as creating and collecting were included in the home feed, which kept the character active in social network.
                h3 The Result
        .level
            .container
                h2 PRICING STRATEGIES
                .sep.taller
                h3 The Problem
                h3 The Exploration
                h3 The Flow
        .level
            .container
                h2 PLACE AN ORDER
                .sep.taller
                h3 The Problem
                h3 The Exploration
                h3 The Flow
