.startup
    .hero
    .article-wrapper
        .level
            .container
                h1 Tran3D: First Class in UX Design
                p Last year, I have been working on a 3D printing cloud platform, named Tran3D. In this article I will select three milestones during the design/development process and I will analyze each of them from strategy to interface.
        .level
            .container
                h2 OVERVIEW
                .sep.taller
                h3 About the company
                p
                    | Tran3D is 
                    span.highlight an online 3D printing service platform where distributed 3D printing resources are gathered, shared, and applied
                    | .
                h3 How it works
                p 
                    | Tran3D runs a C2C business model. It facilitates transactions between 
                    span.highlight 3D printer owners and people who want to make 3D prints
                    | . Service bureaus can join the platform to offer 3D printing services while customers can select one of the best solutions we recommend to get their 3D models printed.
                h3 My roles
                p 
                    | Being one of the co-founders, I led the 
                    span.highlight UI/UX design and front-end development
                    |  from start to finish in the past one year. 
                p As a designer, I worked on
                ul
                    li
                        i.icon.icon-li.ion-chevron-right
                        span User research
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Sketches and wireframes
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Visual and interaction design
                p As a developer, I was responsible for
                ul
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Writing reusable CSS
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Building application based on AngularJS and Three.js
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Designing API endpoints that could collaborate with back-end
                    li
                        i.icon.icon-li.ion-chevron-right
                        span Loading modules with oc-lazyload and Webpack
                h3 How I started
                p
                    | At the early stage of a startup company, 
                    span.highlight I wanted to deliver a minimum viable product as soon as possible.
                    |  I also wanted to provide a flexible structure that could scale naturally as the website grows. So I started with architecture and decomposed it into modules.
                p Next, I will select three representative modules and go through their design processes and implementation results.
