.startup
    .hero
    .article-wrapper
        .level
            .container
                h1 Tran3D: from Zero to One
                p Last year, I have been working on a startup product—Tran3D. In this article, I would like to share with you some of my design from strategy to interface.
        .level#section1
            .container
                h2 OVERVIEW
                .sep
        .level.level--tropical-blue
            .container
                img(data-src="https://i.imgur.com/FpzrWEV.png").lazyload
        .level
            .container
                h3 About the project
                p
                    | Tran3D is 
                    span.highlight an online 3D printing service platform
                    |  where distributed 3D printing resources are gathered, shared, and applied.
        
                h3 How it works
                p 
                    | Tran3D runs a C2C business model. It facilitates transactions between 
                    span.highlight 3D printer owners and people who want to make 3D prints
                    | . Service bureaus can join the platform to offer 3D printing services while customers can select one of the best solutions we recommend to get their customized models printed.
                h3 My roles
                p 
                    | Being one of the co-founders, I led the 
                    span.highlight product, UI/UX design and front-end development
                    |  from the start.
                p As a designer in particular, I worked on
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span User research
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Product design
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Sketches, wireframes and mock-ups
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Visual and interaction design
                h3 How I started
                p Working closely with my partners, I first made a Q&A sheet that depicted our potential users.
                .board
                    h3.smaller User Brief
                    h4 Who are the target audiences?
                    p Modern people who enjoy customizing things or transforming ideas into reality using technology.
                    h4 What are the audience types and their differences?
                    p 
                        | There are three main types. 1. 
                        b Common individuals
                        | —people who need 3D printed products, but without 3D printers; 2. 
                        b Designers
                        | —people who are capable of producing high-quality 3D models; 3. 
                        b Manufacturers
                        | —people who own 3D printers, can either be individuals or companies.
                    h4 Where can audiences be found?
                    p Most likely, they can be found in universities or manufacturing industry. They might also have active accounts in 3D print forums.
                    h4 What personality does Tran3D want to project to the audience?
                    p Simple, rapid, technological, playful and high quality.
                p Based on the user brief, I interviewed 50 people via telephone and finally planned out our 
                    span.highlight design goals
                    | .
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span To facilitate intuitive and seamless experience when it comes to customizing 3D printing products
                        li
                            i.icon.icon-li.ion-chevron-right
                            span To design meaningful and engaging user interfaces
                        li
                            i.icon.icon-li.ion-chevron-right
                            span To create convenient and powerful functionalities that can manage services and transactions
                p 
                    | Next, I will choose 
                    span.highlight three representatives
                    |  that best accomplished our design goals. And I will talk about their design processes and deliverables.
        .level#section2
            .container
                h2 START A 3D PRINT
                .sep.taller
                h3 The Problem
                p 3D printing features rapid prototyping and product customization. It enables consumer products to be made on­-demand, eliminating the restriction to craftsmanship and manufacture, as well as reducing the waste from overproduction and overpricing.
                p On the consumer side, however their expertise, most people expressed their interests about transforming their ideas into reality and their curiosity about 3D printed objects during interviews.
                p
                    | So here comes the problem—
                    span.highlight how might we get customers onboard in order to fully deliver the quality of 3D printing to them?
                h3 The Analysis
                p
                    | To introduce complex technology home, Tran3D must provide customers with an easy and fast channel to getting their hands on real 3D printed products. 
                    span.highlight The main idea is to build a module that helps users start a 3D print and guides them quickly through a customization workflow before they reach shopping cart.
                    |  Some core design principles were identified:
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Prominent entries—CTAs draw attentions and trigger interests. 
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Easy start—Tasks that are easier to do are better starting points for people with low motivation (refer to BJ Fogg Behavior Model).
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Limited choices—It’s often easier to make a decision when presented with only few options.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Hidden expert-level interfaces and terminologies—Expert users are the minority.
                p
                    | Overall, the customization workflow of 3D print should be 
                    span.highlight lucid, easy, efficient, and interesting
                    | .
                h3 The Exploring
                p 
                    | I started my exploration by scoping the user flow into three phases: 
                    span.highlight upload my models
                    | , 
                    span.highlight select a material category
                    | , and 
                    span.highlight choose a 3D printing service
                    | . In this way, a complex and tedious process was decomposed into parts whose tasks were easier to understand and goals were clearer to achieve.
        .level.level--swans-down
            .container
                img(data-src="https://i.imgur.com/OkAi4Gx.png").lazyload
        .level
            .container
                p I then came up with a few key design concepts while creating wireframes. Those concepts were:
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Create visually striking CTAs that compel users to click.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Start from the task that is easiest and most requisite.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Unlock next phase until the current one is completed, bringing fewer choices to users.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Prioritize imperative parameters, use straightforward copies and hide expert-level content.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Integrate all three steps in one page for an unbreakable experience. This integrity keeps data consistent and interaction coherent.
                h3 The Highlight
                p
                    | Starting a 3D print is a focused job for users. Their primary goal is to find the most suitable printing service for their uploaded models. Due to 3D printing's nature, however, the task requires 
                    span.highlight deep focus, manual input and selection, and back-and-forth decision-makings
                    | .
                p
                    | The solution was utilizing 
                    span.highlight SPA (Single Page Application)
                    | , where users could accomplish the task fluidly all in one page. Comparing to the multi-pages solution, I reduced the cognitive load that users took to make decisions as well as the drop-off rate caused by page switching. During usability testing, I noticed better results in terms of effectiveness and efficiency.
        .level.level--swans-down
            .container
                img(data-src="https://i.imgur.com/Ce55yjv.png").lazyload
        .level
            .container
                h3 The Result
                p After unifying back-end data with team, I finalized the flow as indicated below.
                img(data-src="https://i.imgur.com/PEdSuT3.png").lazyload.img--title
                img(data-src="https://i.imgur.com/0h8jMlo.gif").lazyload.img--result
                p
                    | It creates 
                    span.highlight a clear sense of assistance
                    |  and 
                    span.highlight reduces the unnecessity
                    |  to minimum so that non-expert users can understand how things work without any direct explanation. Useful images and friendly language are added throughout. It also has animations and transitions, which adds a bit of fun. I am optimistic that users will get onboard and progress through all three phases with little friction, leading to successful customizations of their 3D prints.
        .level#section3
            .container
                h2 DISCOVER USER PROFILES
                .sep.taller
                h3 The Problem
                p 
                    | Tran3D in essence is a 3D printing community where users design, prototype, sell and purchase. However, different users have different roles—
                    span.highlight Designers
                    |  productively transform their concepts into printable designs; 
                    span.highlight manufacturers
                    |  register 3D printers and promote their services; and like 
                    span.highlight the rest of individuals
                    | , both can follow, collect or purchase what they are interested in. So given a user,
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span How can we distinguish his roles from others'?
                        li
                            i.icon.icon-li.ion-chevron-right 
                            span Which features should we support?
                        li
                            i.icon.icon-li.ion-chevron-right
                            span How might we help showcase his characteristics and develop his own "brand"?    
                h3 The Analysis
                p 
                    span.highlight Upon browsing a user profile, one needs to identify that person's roles and characteristics.
                    |  According to this, I listed some keywords to guide my design.
                .flex.wider
                    ul
                        li
                            i.icon.icon-li.ion-chevron-right
                            span 
                                b Architecture
                                |—Interpreting underlying data structure and class inheritance reduces gap between design and development.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                b Hierarchy
                                |—The item that first grabs eye's attention is at the top of the hierarchy. Each item that draws attention next is subordinate to the one before it.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                b Coloring
                                |—One of the easiest ways to distinguish objects is through colors.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                b Personalization
                                |—Users get motivated if they are provided with more personalized choices.
                h3 The Exploration
                img(data-src="https://i.imgur.com/4XUQk2t.jpg").lazyload.img--result
                p After sketching out several candidates, I made the following design decisions.
                h3.smaller 1. Information Architecture
                p 
                    | I separated users into 
                    span.highlight three categories
                    | : common individuals, designers and manufacturers. All types shared a same template—Basic information was listed out; designs, collections, orders, followings and followers were organized into tabs. It is worth noting that designers were given an extra section to introduce their backgrounds, concepts and portfolios while manufacturers were given a shop page and a dashboard to manage printers, orders, etc.
        .level.level--tropical-blue
            .container
                img(data-src="https://i.imgur.com/CYwLCeO.png").lazyload
        .level
            .container
                h3.smaller 2. Visual Hierarchy
                p
                    | I used 
                    span.highlight Reversed-ソ Pattern
                    | —Our eye starts scanning from top left, then diagonally down, stopping at the bottom right. Within a short break, information on the top right might draw some attention. The diagonal line guides us to read the main content and the dot serves as a little weight for equilibrium.
        .level.level--tropical-blue
            .container
                img(data-src="https://i.imgur.com/GSHcC4k.png").lazyload.img--result
        .level
            .container
                h3.smaller 3. Color Scheme
                p
                    | I chose the color palettes similar to 
                    span.highlight flat UI
                    | . Complementary colors made personality bold and stand out. Analogous colors kept our page clean and calm.
        .level.level--tropical-blue
            .container
                img(data-src="assets/img/color-scheme.svg").lazyload
        .level
            .container
                h3.smaller 4. Personalization
                p 
                    | Besides user settings, I highlighted 'Register', 'Create' and 'Follow' buttons and 
                    span.highlight encouraged users to enrich their profiles
                    | . Also, behaviors such as creating and collecting would be included in followers' home feed, which 
                    span.highlight kept the character active
                    |  in his network.
                h3 The Highlight
                p
                    | I borrowed concepts from material design and flat design to set overall experience direction. Thinking about material design, it has three-dimensional qualities that are reflected in its use of surfaces, depth, and shadows. This concept is closely relevant to 3D prints. 
                    span.highlight Match between our visual system and real world can strengthen the connection between our customers and products.
                    |  It also aligns with our brand image: simple, rapid and technological.
                h3 The Result
                p The following images indicate pages of common user's profile, designer's profile, user's home and settings, respectively.
                img(data-src="https://i.imgur.com/0EJxdA7.png").lazyload.img--result
                img(data-src="https://i.imgur.com/jaCfpzU.png").lazyload.img--result
                img(data-src="https://i.imgur.com/UytYApc.png").lazyload.img--result
                img(data-src="https://i.imgur.com/1SkH6pW.png").lazyload.img--result
        .level#section4
            .container
                h2 MANAGE SHOP SERVICES
                .sep.taller
                h3 The Problem
                p 
                    | Tran3D schedules 3D printing services based on 
                    span.highlight data and facts
                    | . It is important for manufacturers to provide authentic and detailed data. This is non-trivial work: 
                .flex.wider
                    ol
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Data encompasses various facets—It includes printers, materials, colors, layer thicknesses and more at lower granularity.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span Pricing strategies are extremely complex—They vary from case to case and are hard to get translated from mathematical models.
                p 
                    | Therefore 
                    span.highlight how might we help them upload data in an intuitive or instructive way
                    |  and 
                    span.highlight how might we organize their data for clarity purpose
                    | ?
                h3 The Analysis
                p 
                    | To get better insights, I interviewed 8 people who owned 3D printers. Based on their thoughts and behaviors, I made 
                    span.highlight three personas
                    | .
                .board
                    h3.smaller Manufacturer Persona
                    .subtitle
                        h4 Frank
                        .marker.persona-1
                    p Frank, aged 32, is an assistant professor of material science at university. His lab owns 5 industrial 3D printers which could support more than 40 printable materials. Frank has rich knowledge about 3D printing and especially, he knows materials inside out. He is an expert in building mathematical models and experimenting new things.
                    .subtitle
                        h4 Sarah
                        .marker.persona-2
                    p Sarah is an AM at Tiertime, a 3D print company in Beijing. She works for a team that is responsible for promoting their 3D printing services to all partners. Since she is not an expert, her job is to maintain or update data provided by her technical colleagues. In order to deal with different platforms from different partners, Sarah needs to quickly understand interfaces and exchanging information with the team.
                    .subtitle
                        h4 David
                        .marker.persona-3
                    p David is a technology enthusiast and he is only 20. His father bought him a desktop-level 3D printer on his last birthday, and he wants to make the full use of it. David knows how to use the printer however, he has no idea about how to provide 3D print service—He can only create simple pricing strategies but he is not sure if they would work.
                p
                    | Their needs can be described as:
                .flex.wider
                    ol
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                b Hierarchical
                                |—It is easier to navigate and understand the system by organizing content hierarchically.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                b Standardized
                                |—Interactions are using the same paradigm so that users can understand.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                b Complete
                                |—More complete data increases a manufacturer's credibility, therefore popularity.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                b Intuitive
                                |—Uploading data is simple, not learned.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                b Flexible
                                |—The system allows manufacturers to manipulate, whichever their backgrounds.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                b Foreseeable
                                |—Any preview of the outcome would help manufacturers circumvent mistakes, lowering the possibility of failed strategies.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span
                                b Reversible
                                |—Data that is incorrect or outdated can be removed or modified.
                h3 The Exploration
                p During the ideation and prototyping phase, I mapped out solutions one by one:
                h3.smaller 1. Divide concepts into hierarchy.
                p 
                    | A manufacturer may lack motivation to publish all service data within one single upload. So I divided the whole process and organized them into levels. From the shop to specific objects like printer and material, 
                    span.highlight a hierarchical design
                    |  would very much facilitate user tasks.
        .level.level--swans-down
            .container
                img(data-src="https://i.imgur.com/mL6FcLJ.png").lazyload
        .level
            .container
                h3.smaller 2. Unify layouts and interactions.
                p
                    | I chose a component that had consistently shown up in Tran3D—
                    span.highlight the modal
                    | . This was because I did not want to overwhelm users with an unfamiliar UI. A modal also made them concentrate on what they were doing while kept the background as context. Within a modal, data uploading was splitted into steps and there was a top navigation indicating the progress. 
                h3.smaller 3. Include data that helps SEO and discoverability.
                p
                    span.highlight Titles, descriptions, tags, photos and categories
                    |  are attributes for manufacturers to better describe their services. These features can be descriptive and educational to someone outside of their niches. Complete data speaks aloud for the services.
                h3.smaller 4. Utilize shapes and colors.
                p Making a pricing strategy is one of the most challenging tasks when manufacturers manage their services—Strategies in 3D print industry involve a variety of factors, not only the physical attributes but also laboring influences. 
                p
                    | A common practice is using 
                    span.highlight linear polynomial
                    |  as the mathematical model which sums up a number of terms. The quantity of terms depends and each term is flexible due to possibly different interpolations. 
                p
                    | During research, I realized that there was a huge gap between the system and its users, more specifically, the complexity that a pricing strategy could go and the capability for people to understand, digest and make adjustments for that.   
                p
                    | Luckily, I found that 
                    span.highlight building a one-to-one correspondence between a term and a colored shape
                    |  was the most intuitive and efficient solution. It turned a complex math formula into objects that can be easily cognized and understood by human beings. Therefore, I illustrated this polynomial using simple shapes and colors:
        .level.level--swans-down
            .container
                img(data-src="https://i.imgur.com/FeLkXeg.png").lazyload
        .level
            .container
                h3.smaller 5. Add flexibility to the system.
                p
                    | The module must be adaptive to users with different backgrounds. Consider a user with non-expert background, he might need 
                    span.highlight notes
                    |  for terminologies, 
                    span.highlight tips
                    |  for interactions and 
                    span.highlight default values
                    |  for complicated terms. On the contrary, an expert might need more specifications and details. And he wants to enable more terms in the polynomial to 
                    span.highlight better control
                    |  his pricing strategy.
                h3.smaller 6. Preview simulated results.
                p
                    | Manufacturers will get a 
                    span.highlight live preview
                    |  of what the price would be after proposing a pricing strategy. The result is calculated by applying the pricing strategy to a test case we provide. It even gives instant feedback as the user makes any adjustment to the linear polynomial. This feature helps manufacturers find their suitable pricing strategies. It also makes them feel empowered so that they can trust our system.
                h3.smaller 7. Provide CRUD operations.
                p 
                    | Service data like printers, materials and even pricing strategies are 
                    span.highlight revisable
                    |  if one makes any mistake.
        .level.level--swans-down
            .container
                img(data-src="https://i.imgur.com/4eFsbvE.png").lazyload
        .level
            .container
                h3 The Highlight
                p
                    | I want to highlight how I understood problems and developed insights from research using  
                    span.highlight JTBD plus VPD framework
                    | . First, I identified three user types:
                .flex.wider
                    ol
                        li
                            i.icon.icon-li.ion-chevron-right
                            span 
                                | Professionals—Like Frank, they understand 3D printing from both theoretical and practical sides so they prefer a site that is 
                                b professional
                                | . They would check attributes reactively due to availability changes.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span 
                                | Proxies—Like Sarah, they are experienced in maintaining 3D printing data for companies and professionals. They need to perform 
                                b frequent and intensive inputs
                                |  to cater business needs.
                        li
                            i.icon.icon-li.ion-chevron-right
                            span 
                                | Amateurs—Like David, they 
                                b need more help
                                |  to offer services because their knowledge about industry is premature. They have few printers so that once setting up the shop, they barely change attributes afterwards. 
                p
                    | Through interviews, jobs and related outcomes (a.k.a. pains and gains) were extracted:
                .report 
                    h3 Jobs and Outcomes Analysis 
                    h4 User types
                    ol.notes
                        li
                            span 
                                b Professionals
                                .marker.persona-1
                        li
                            span 
                                b Proxies
                                .marker.persona-2 
                        li
                            span
                                b Amateurs
                                .marker.persona-3
                    h4 Main job
                    ol
                        li
                            span Set up Tran3D online shop
                    h4 Related jobs
                    ol
                        li
                            span Provide printers
                        li
                            span Provide materials that each printer supports
                        li
                            span Provide other attributes related to printers and materials
                        li
                            span Set up pricing strategy according to printer, material and other attributes
                    h4 Pains
                    ol
                        li
                            span Cannot find or adjust advanced attributes and lose trust
                                .marker.persona-1
                                .marker.persona-2
                        li
                            span Cannot understand and fill in some of the attributes especially advanced ones
                                .marker.persona-3                        
                        li
                            span Receive orders that are unprintable due to information mismatch
                                .marker.persona-1
                                .marker.persona-2
                                .marker.persona-3
                        li
                            span Take too much effort filling out forms
                                .marker.persona-2
                        li
                            span Do not know how to set up the pricing strategy
                                .marker.persona-3
                        li
                            span Do not know whether a pricing strategy would work
                                .marker.persona-1
                                .marker.persona-3
                    h4 Gains
                    ol
                        li
                            span Can trust platform because information to fill complies with industry conventions
                                .marker.persona-1
                                .marker.persona-2
                        li
                            span Can get all input done efficiently
                                .marker.persona-2
                                .marker.persona-3
                        li
                            span Can know if a pricing strategy is properly set up
                                .marker.persona-1
                                .marker.persona-3
                        li
                            span Can easily find attributes and make revisions
                                .marker.persona-1
                                .marker.persona-2
                p
                    | Given the knowledge, a mapping from 
                    span.highlight pains to their relievers and gains to their creators
                    |  was created. Below is an example for user type: proxies.
        .level.level--swans-down
            .container
                img(data-src="https://i.imgur.com/2qQ4Fg3.png").lazyload
        .level
            .container
                p
                    | Some of the outcomes were common while some were specific. There were also conflicting needs from different types. For this reason, I tried to think of solutions that were 
                    span.highlight flexible and compatible
                    | , treating all user types equally.
                h3 The Result
                p From the shop's main page to a modal that creates material and pricing strategies, I am satisfied that my design goals are accomplished across the site. The design is simple yet powerful, not only providing intuitive interfaces but also tailoring to different user needs. Meanwhile, a lot of UI elements are reused, contributing to the system consistency.
                img(data-src="https://i.imgur.com/PEdSuT3.png").lazyload.img--title
                img(data-src="https://i.imgur.com/oYlZBYa.gif").lazyload.img--result
                img(data-src="https://i.imgur.com/AzNhndR.png").lazyload.img--result
                img(data-src="https://i.imgur.com/tjILlM2.png").lazyload.img--result
                img(data-src="https://i.imgur.com/LkGbNOG.png").lazyload.img--result
        .level
            .container
                h2 CONCLUSION AND REFLECTION
                .sep
                p
                    | At the early stage of a startup company, I wanted to deliver a 
                    span.highlight minimum viable product
                    |  and provide a flexible structure that could scale naturally as the platform grows. Looking back, the project has included all necessary functionalities and built upon a scalable framework. It has successfully leveraged the design language to promote a high-end technology, decoding the secret of 3D printing into context that people can comprehend and make use of.
                p As a designer and a developer, the project also made me appreciate the importance of coordinating different perspectives and collaborating with different roles. It became one of the most precious experiences in my career.
        nav.dot-nav
            ul
                li
                    a.dot-nav--item#section1Nav(href="#section1")
                li
                    a.dot-nav--item#section2Nav(href="#section2")
                li
                    a.dot-nav--item#section3Nav(href="#section3")
                li
                    a.dot-nav--item#section4Nav(href="#section4")
        .level
            .portfolio-nav-container
                .container
                    a.prev-container(href="bio.html")
                    a.home-icon-container(href="index.html")
                    a.next-container(href="denture.html")
