.startup
    .hero
    .article-wrapper
        .level
            .container
                h1 Tran3D: First Class in UX Design
        .level
            .container
                h2 CONTEXT AND CHALLENGE
                .sep
                h3 The Company
                h3 How It works
                h3 My role
                h3 Information Architecture
        .level
            .container
                h2 PRINTING ASSISTANT
                .sep
                h3 The Problem
                h3 The Exploration
                h3 The Flow
        .level
            .container
                h2 USER PROFILE
                .sep
                h3 The Problem
                h3 The Exploration
                h3 The Flow
        .level
            .container
                h2 MATERIAL
                .sep
                h3 The Problem
                h3 The Exploration
                h3 The Flow
        .level
            .container
                h2 ORDER PLACING
                .sep
                h3 The Problem
                h3 The Exploration
                h3 The Flow
