.critique
    .hero
        background:
            image: url(/assets/img/zhihu-showcase.jpg)
            repeat: no-repeat
            position: center 40%
            size: cover

    h1
        margin: 0 0 60px 0
        font-size: 36px
        line-height: 1.4
        img
            width: 1em
            height: 1em
            vertical-align: -.2em
            margin-bottom: 0

    h2
        margin: 0
        font-size: 28px

    h3
        margin-bottom: .625em
        font-size: 24px
        line-height: 1.6
        letter-spacing: .02em

    h4
        margin-bottom: .5em
        font-size: 16px
        letter-spacing: .3em

    p
        margin: 0 0 24px 0
        font-family: Raleway, 'Open Sans', Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif
        font-size: 16px
        color: $black
        line-height: 1.8

    li
        font-family: Raleway, 'Open Sans', Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif
        font-size: 16px
        font-weight: 400
        color: #333
        letter-spacing: .05em
        line-height: 1.8
        margin-bottom: 12px

    .level
        &:first-child
            padding-bottom: 0

@media (min-width: 30em)
    .critique
        h1
            font-size: 64px
            line-height: 1.375
        h2
            font-size: 36px
        h3
            font-size: 28px
        h4
            margin-bottom: .75em
            font-size: 18px
        p
            font-size: 18px
        li
            font-size: 18px

@media (min-width: 48em)
    .critique
        h1
            margin: 0 0 90px 0
            font-size: 72px
            line-height: 1.35
        h2
            font-size: 48px
        h3
            margin-bottom: 1.25em
            font-size: 32px
            line-height: 1.8
        h4
            margin-bottom: 1em
            font-size: 20px
        p
            margin: 0 0 32px 0
            font-size: 20px
        li
            font-size: 20px
        img
            margin-bottom: 1.25em

@media (min-width: 64em)
    .critique
        h1
            font-size: 80px
            line-height: 1.25

@media (min-width: 75em)
    .critique
        h1
            font-size: 96px
            line-height: 1.15
