.intro
    background:
        color: $black
        image: url(http://pic.yupoo.com/cherrychoochoo/a7a91e6f/d95f1b44.jpg)
        repeat: no-repeat
        position: center top
        size: cover

    h1
        max-width: 1080px
        margin-left: -.05em
        color: $white

    h3, h4
        color: $white

    h5
        color: #B98A61
        letter-spacing: .25em
        a
            color: #B98A61
            border-bottom: 1px solid rgba(255, 255, 255, 0.2)

    p
        max-width: 700px
        color: $silver

@media (max-width: 85em)
    .intro
        h1
            max-width: 800px
