.story
    .hero
        background:
            image: url(/assets/img/bio-img-1.jpg)
            repeat: no-repeat
            position: center 70%
            size: cover
    h1
        margin: 0
        font-size: 36px
        line-height: 1.4

    h2
        margin: 0
        font-size: 28px

    p
        font-family: Raleway, 'Open Sans', Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif
        font-size: 20px
        color: $black
        line-height: 1.8

@media (min-width: 30em)
    .story
        h1
            font-size: 64px
            line-height: 1.375

        h2
            font-size: 36px

@media (min-width: 48em)
    .story
        h1
            font-size: 72px
            line-height: 1.35

        h2
            font-size: 48px

@media (min-width: 64em)
    .story
        h1
            font-size: 80px
            line-height: 1.25

@media (min-width: 75em)
    .story
        h1
            font-size: 96px
            line-height: 1.15
