.sep
    height: 0
    margin-top: 1.5em
    margin-bottom: 1.5em
    border-left: 0
    border-right: 0
    border-bottom: 0
    border-top: 4px solid #E6B110
    line-height: 1
    text-align: center
    width: 160px
.sep.taller
    margin-bottom: 3.0em

.cta
    max-width: 280px
    font-size: 22px
    font-weight: 500
    letter-spacing: .1em
    display: block
    color: $white
    background: linear-gradient(to bottom right, $yellow, #E6B110)
    text-align: center
    padding: 0.5em 0
    line-height: 1.25
    transition: all 0.15s ease-in-out

    &:hover
        background: linear-gradient(to bottom right, #E6B110, $orange)

@media (min-width: 30em)
    .cta
        max-width: 320px
        font-size: 26px

@media (min-width: 48em)
    .cta
        max-width: 360px
        font-size: 30px
