.wrapper
    border: 1.2em solid $white
    height: auto !important

.section-wrapper
    padding: 5em 2.5em

@media (min-width: 30em)
    .section-wrapper
        padding: 5em 5em

@media (min-width: 48em)
    .section-wrapper
        padding: 10em 8em

.col-1of2
    width: 100%

@media (min-width: 85.375em)
    .col-1of2
        &:first-child
            width: 50%
            max-width: 540px
            padding-right: 90px
        &:last-child
            width: 50%
            max-width: 540px
            padding-left: 90px
