.wrapper
    border: 1.2em solid $white
    height: auto !important

.section-wrapper
    padding: 5em 2.5em

@media (min-width: 30em)
    .section-wrapper
        padding: 5em 5em

@media (min-width: 48em)
    .section-wrapper
        padding: 10em 8em

@media (min-width: 64em)
    .section-wrapper
        padding: 10em 15em

// .article-wrapper
//     padding: .625em 1.25em
//
// @media (min-width: 30em)
//     .article-wrapper
//         padding: 1.25em 2.5em
//
// @media (min-width: 48em)
//     .article-wrapper
//         padding: 2.5em 5em
//
// @media (min-width: 64em)
//     .article-wrapper
//         padding: 5em 10em

.article-wrapper
    padding: .625em 0

@media (min-width: 30em)
    .article-wrapper
        padding: 1.25em 0

@media (min-width: 48em)
    .article-wrapper
        padding: 2.5em 0

@media (min-width: 64em)
    .article-wrapper
        padding: 5em 0

.col-1of2
    width: 100%

@media (min-width: 85.375em)
    .col-1of2
        &:first-child
            width: 50%
            max-width: 540px
            padding-right: 90px
        &:last-child
            width: 50%
            max-width: 540px
            padding-left: 90px

.level
    padding: 24px 20px
    &:last-child
        padding-bottom: 40px
    .container
        p
            &:last-child
                margin-bottom: 0

@media (min-width: 48em)
    .level
        padding: 48px 80px 30px
        &:first-child
            padding-top: 0
        &:last-child
            padding-bottom: 75px
        .container
            position: relative
            margin: 0 auto
            max-width: 100%
            width: 996px
            p, ol, ul
                width: 85%

@media (min-width: 64em)
    .level
        padding: 60px 0 30px
        &:last-child
            padding-bottom: 90px
        .container
            p, ol, ul
                width: 66.6666666666667%

.level.level--oyster-pink
    background-color: #EDD9CF

.level.level--humming-bird
    background-color: #E2F0FB

.hero
    height: 450px

@media (min-width: 48em)
    .hero
        height: 550px
