.wrapper
    border: 1.2em solid $white
    height: auto !important

.section-wrapper
    padding: 5em 2.5em

@media (min-width: 30em)
    .section-wrapper
        padding: 5em 5em

@media (min-width: 48em)
    .section-wrapper
        padding: 8em 8em
